/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */

@font-face {
  font-family: 'BebasNeue';
  src: url(styles/fonts/BebasNeue.otf);
}


.topbar{
    background-color: #F8F8F8;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    margin-top: 15px;
}

body {
    background-color: #1C222C !important;
    
}


.tabel{
    background-color: #262F3A !important;
    color: #BFC1C0 !important;
    min-height: 638px;
    font-family: BebasNeue;
   
    
}

.landing {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.landing > img{
    width: 100%;
    position: relative;
}

.landing_text > h1 {
  color: #F8F8F8;
  font-size: 25pt;
  margin-bottom: 25px;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    font-family: BebasNeue;
}

article {
    color: #F8F8F8;
    margin-top: 10%;
    font-family: BebasNeue;
}
.titel{
    color: #C6C6C7;
    font-family: BebasNeue;
}
.info{
    min-height:322px;
    max-height: 322px;
}
.cover{
    margin-top: 10%;
}
table td, table th{
    border-top: 1px solid #5CA4A6 !important;
}

.cover  {
	-webkit-box-shadow: 0 12px 8px -6px #101419;
	   -moz-box-shadow: 0 12px 8px -6px #101419;
	        box-shadow: 0 12px 8px -6px #101419;
}
.tabel{
  -moz-box-shadow:    3px 3px 3px 1px #101419;
  -webkit-box-shadow: 3px 3px 3px 1px #101419;
  box-shadow:         3px 3px 3px 1px #101419;
}

.btn-primary {
    background-color: #76CDD1 !important;
    color: #C6C6C7;
    border: none !important;
    min-width: 100% !important;

}

.footer{
    background-color: #273039;
    margin-top: 90px;
    
    
}
.txt-footer{
    color: #C6C6C7;
    margin-right: 15px;
    font-family: BebasNeue;
}
.logo-footer{
     margin-left: 15px;
}

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}